.square{
    height: 10vh;
    width: 5vw;
    background-color: white;
    border-style: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
.square:hover{
    cursor: pointer;
}

.div-row{
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0.8;
}