#shop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: gray;
  border-radius: 40px;
  margin-bottom: 10px;
  padding: 20px;
}



.item-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 2ch;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(144, 144, 144);
  border-radius: 20px;
  margin: 10px;
}

.article-img {
  background-color: bisque;
  width: 60px;
  height: 60px;
  padding: 6ch;
}

