#profile-img {
    background-color: chartreuse;
    width: 200px;
    height: 200px;
}
#player-infos {
    width: 30vw;
    height: auto;
    background-color: rgb(247, 247, 247);
    padding: 20;
}
/* #player-stats{} */

#selectionDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    text-align: center;
    padding: 15px;
    width: 90px;
    height: 105px;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}