#header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

#signin{
    margin-right: 2ch;
}

#header-links a{
    color: white;
    border: 2px solid #1e85ca;
    border-radius: 6px;
    padding: 4px;
    background-color: #1e85ca;
    text-decoration: none;
    font-weight: 500;
}