#header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

#header-title{
    text-decoration: none;
    color: black;
}
#header-title:visited{
    color: black;
}
#header-title:hover{
    color: #1e85ca;
    font-weight: 900;
    text-shadow: #1e85ca 0px 0px 1.5px ;
}

#shop {
    margin-right: 2ch;
}


#signin{
    margin-right: 2ch;
}
