#footer{
    position: relative;
    bottom: 0px;
    width: 95vw;
    display: block;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#footer p{
    margin: 0;
}